@model IEnumerable<CMS.api.Models.Schedule>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Schedule_Departure_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Schedule_Arrival_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Schedule_Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ship_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Schedule_Departure_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Schedule_Arrival_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Schedule_Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ship_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Schedule_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Schedule_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Schedule_ID })
        </td>
    </tr>
}

</table>
